/*===================
Button Styles 
====================*/

// only works on <a> and <button> elements
a,
button {
  // Default button style
  &.btn-theme {
    padding: 0 22px;
    height: 40px;
    display: inline-block;
    line-height: 35px;
    border: 2px solid transparent;
    border-radius: $button-border-radius;
    font-size: 16px;
    position: relative;
    letter-spacing: 0.2px;
    &:hover {
      transform: translateY(-3px);
      background: $gray;
    }
  }

  // primary style
  &.btn-theme-primary {
    background-color: $theme-color;
    border-color: $theme-color;
    color: $white;
    &:hover {
      background: $theme-color;
    }
  }

  // primary outline style
  &.btn-theme-primary-outline {
    background-color: transparent;
    color: $theme-color;
    border: 2px solid $theme-color;
    &:hover {
      background: $theme-color;
      color: $white;
    }
  }
}
