@import "@/assets/variables";
@import "admin-lte/build/scss/variables";

.open {
  display: none;
}

.close {
  display: block;
}

:global([class*="sidebar-collapse"]) .open {
  display: block;
}

:global([class*="sidebar-collapse"]) .close {
  display: none;
}

.brand {
  overflow: hidden;
}

.username {
  width: 172px;
  white-space: normal;
  word-break: initial;
  display: block;
}

.username,
.text {
  color: $sidebar-dark-color;
  transition: margin-left 0.3s linear, opacity 0.3s ease, visibility 0.3s ease;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.icon {
  color: $sidebar-dark-color;
}

.sidebarBottom {
  padding: 0 0.5rem;
}

@media (min-width: 992px) {
  :global([class*="sidebar-collapse"]) :global([class*="nav-link"]) .text {
    margin-left: -10px;
    animation-name: fadeOut;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    visibility: hidden;
    width: 0;
    white-space: nowrap;
  }
}