@import '@/assets/variables';
.posturalImage {
  width: 69px;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 3px;
}
.posturalScore {
  font-weight: bold;
  font-size: 2.5rem;
}

.card {
  height: 159px;
  margin-bottom: 20px;
}
