@mixin overlayBg($zIndex: 1) {
  position: fixed;
  background: rgba(#000, .5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  z-index: $zIndex;
  visibility: hidden;
  transition: 300ms ease-in-out opacity, 300ms ease visibility;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-400 {
  font-weight: normal !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fs-10 {
  font-size: 0.625rem !important;
}

.fs-12 {
  font-size: 0.75rem !important;
}

.fs-14 {
  font-size: 0.875rem !important;
}

.fs-18 {
  font-size: 1.125rem !important;
}

.fs-20 {
  font-size: 1.25rem !important;
}

.fs-32 {
  font-size: 2rem !important;
}

.f-noto {
  font-family: $font-noto-sans-jp;
}

.cl-primary {
  color: $custom-onward-green !important;
}

.cl-danger-light {
  color: $custom-onward-danger-light !important;
}

.cl-text-tag {
  color: $custom-onward-text-tag-gray !important;
}

.cl-black {
  color: $custom-onward-text !important;
}

.cl-707070 {
  color: #707070 !important;
}

.nav-tabs {
  .nav-link {
    &.custom-nav-link {
      font-family: $font-noto-sans-jp;
      font-size: 1.125rem;
      font-weight: 700;
      padding: 10px 16px;
      background: transparent;
      border-bottom: 2px solid transparent;
      border-width: 0 0 2px 0;
      color: $custom-onward-text;
      transition: 200ms ease-in-out color, 200ms ease-in-out border-bottom-color;
      &:hover,
      &.active {
        color: $custom-onward-green;
        border-bottom-color: $custom-onward-green;
      }
    }
  }
}

.title-card {
  font-size: 1.25rem;
  font-family: $font-noto-sans-jp;
  font-weight: 500;
}


.wrapper .content-wrapper {
  &.custom {
    @media (max-width: 820px) {
      min-height: 95vh !important;
    }
  }
}
.onward-area {
  margin-top: 24px;
  overflow: hidden;
  &.tab-first {
    .onward-area__card {
      min-height: 76vh;
      overflow: hidden;
      @media (max-width: 1180px) and (orientation: landscape) {
        min-height: 74vh;
      }
      @media (max-width: 1024px) and (orientation: landscape), (max-width: 820px) and (orientation: portrait) {
        min-height: 71vh;
        height: 71vh;
      }
    }
  }
  &__card {
    @include media-breakpoint-up(md) {
      height: calc(100vh - 300px);
      
      // overflow-y: auto;
    }
    @include media-breakpoint-down(md) {
      height: calc(100vh - 350px);
      // overflow-y: auto;
    }
    @include media-breakpoint-down(md) {
      .table {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        height: 100%;
        th, td {
          white-space: nowrap;
        }
      }
    }
    margin-top: 16px;
  }
  .card-body {
    gap: 36px;
  }

}

.onward-body-type {
  &__item {
    +.onward-body-type__item {
      margin-top: 24px;
    }
  }

  &__tag {
    font-size: 1rem;
    min-width: 148px;
    padding: 8px 16px;
    margin-bottom: 24px;
    display: inline-block;
    color: $custom-onward-text-tag-gray;
    background: $custom-onward-tag-gray;
    text-align: center;
  }

  &__bold-title,
  &__description {
    padding-left: 20px;
  }

  &__bold-title {
    margin-top: -4px;
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: $custom-onward-green;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.1;
  }

  &__title {
    width: 80px;
    flex: 0 0 80px;
    font-size: 0.875rem;
    font-weight: 500;
    color: $custom-onward-text-title;
  }

  &__description {
    font-size: 0.875rem;
    font-weight: 500;
    color: $custom-onward-text-description;
  }
}

.onward-btn-link {
  cursor: pointer;
  font-size: 1.063rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $custom-onward-btn-background;
  border-color: transparent;
  font-weight: 700;
  color: #fff;
  line-height: 1.1;
  border-radius: 6px;
  width: 340px;
  margin: auto;
  padding: 17px 27px;
  gap: 24px;
  transition: 300ms ease-in-out background, 200ms ease-in-out color;

  &:hover {
    color: #fff;
  }

  &-wrap {
    text-align: center;
    margin-top: 6px;
  }

  &-note {
    font-size: 1rem;
    margin-top: 20px;
    color: $custom-onward-btn-background;
  }

  &.big {
    min-height: 70px;

    &.status-success {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
  }

  &.medium {
    font-size: 1.25rem;
    font-weight: 500;
    width: auto;
    display: inline-block;
    border-radius: 4px;
    padding: 11px 20px;
  }

  &.status-success {
    background: $custom-onward-green;

    &:hover {
      background: $custom-onward-green-hover;
    }
  }

  &.status {
    &-success {
      background: $custom-onward-green;

      &:hover {
        background: $custom-onward-green-hover;
      }
    }

    &-danger {
      background: $custom-onward-danger;

      &:hover {
        background: $custom-onward-danger-hover;
      }
    }
    &-disabled {
      cursor: not-allowed;
      background: $custom-onward-btn-background;
    }

    &-danger-outline {
      color: $custom-onward-danger;
      background-color: transparent;
      border: 1px solid $custom-onward-danger;
      &:hover {
        color: #fff;
        background-color: $custom-onward-danger;
      }
    }

    &-outline {
      color: #646567;
      background-color: transparent;
      border: 1px solid #d8dde2;
    }
  }

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.onward-member {
  &-id {
    .form-control {
      border: 1px solid $custom-onward-input;
      padding-left: 45px;
      &::placeholder {
        color: $custom-onward-input-placeholder;
      }

      &::-webkit-input-placeholder {
        color: $custom-onward-input-placeholder;
      }

      &::-moz-placeholder {
        color: $custom-onward-input-placeholder;
      }
    }

    .text-input {
      border-radius: 3px;
      color: $custom-onward-text-description;
      padding: 5px 10px;
      height: 43px;
      border: 1px solid $custom-onward-input;
    }
  }

  &-button-camera {
    margin-top: 35px;
  }

}

.text-default {
  font-size: 1.125rem;
  color: $custom-onward-text-description;
  font-weight: normal;
}

.stream-barcode {
  +.onward-member-id {
    margin-top: 64px;
  }

  &.open {
    &:before {
      opacity: 1;
      visibility: visible;
    }
  }

  &:before {
    content: "";
    @include overlayBg(1234);
  }

  .scanner {
    &__container {
      &.bg-black {
        position: fixed;
        height: auto;
        width: 70%;
        top: 50%;
        left: 50%;
        z-index: 1234;
        border-radius: 8px;
        transform: translate(-50%, -50%);

        @include media-breakpoint-up(lg) {
          width: 879px;
        }

        .stream-barcode {
          &__stop {
            &-wrap {
              position: absolute;
              top: 20px;
              right: 20px;
            }

            cursor: pointer;
            width: 42px;
            height: 42px;
            background-color: #fff;
            color: #8b8b8b;
            text-align: center;
            line-height: 41px;
            border-radius: 50%;
            font-family: $font-noto-sans-jp;
          }

          &__fademode {
            display: inline-block;

            &-wrap {
              text-align: center;
              padding: 15px 0;
            }
          }
        }

      }

      .content {
        min-height: 100% !important;
      }
    }

  }
}


.modal-alert-onward {
  width: 80%;
  border-radius: 5px;
  background-color: #fff;
  padding: 30px 10px;

  .onward-btn-link {
    margin: inherit;
    min-width: 120px;
  }

  &-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    @include overlayBg(1234);

    &.open {
      opacity: 1;
      visibility: visible;
    }
  }

  &__header {
    padding-bottom: 21px;
    border-bottom: 1px solid $custom-onward-input-placeholder;
  }

  &__body {
    padding: 24px 15px;
  }

  &__footer {
    gap: 40px;
  }

  @include media-breakpoint-up(md) {
    width: 400px;
  }
}

.scan-error-text {
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 0;
  font-style: italic;
  font-family: $font-noto-sans-jp;
  color: $custom-onward-danger;
}

.input-barcode {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.cs-form-label-check {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: 0.875rem;
  font-family: $font-noto-sans-jp;
  font-weight: normal !important;
  .form-check-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked {
      ~ .checkmark {
        background-color: $custom-onward-green;
        border-color: transparent;
        &:after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  .checkmark {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    display: block;
    margin-right: 7px;
    border: 2px solid #a9a9a9;
    transition: 200ms ease-in-out background-color, 200ms ease-in-out border-color;
    &:after {
      content: '';
      position: absolute;
      left: 45%;
      top: 2px;
      width: 8px;
      height: 13px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      opacity: 0;
      visibility: hidden;
      transform: rotate(45deg) translate(-50%, 0);
      transition: 200ms ease-in-out opacity, 200ms ease visibility;
    }
  }
}

.casual-custom-order {
  &__item {
    gap: 1rem;
    &:last-child {
      padding-bottom: 30px;
    }
    + .casual-custom-order__item { 
      margin-top: 30px;
    }
  }
  &__item-inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 4px;
    background: #f8f8f8;
    padding: 24px 10px;
  }
  &__thumbnail {
    .modal-content {
      box-shadow: none;
      border: 1px solid #D9D9D9;
      border-radius: 2px;
      padding: 0;
    }
  }
  &__thumbnail-wrap {
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    &:before {
      content: '';
      display: block;
      padding-top: 130%;
    }
  }
  &__thumbnail__img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }
  &__adjustments {
    padding: 24px 15px;
    background-color: #fff;
    &-wrap {
      margin-top: 32px;
    }
    &-key,
    &-value {
      border-bottom: 1px solid rgba(#000, .1);
    }
    &-key {
      padding: 5px 16px 11px;
    }
    &-value {
      padding: 16px;
    }
    &__item {
      flex: 1;
    }
  }
}

.zoom-in-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  line-height: 37px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(#686868, .5);
}

.modal-exit-close {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
  color: #fff;
  background-color: rgba(#686868, .5);
  text-align: center;
  span {
    line-height: 38px;
  }
}



.cs-dropdown {
  &.primary {
    .dropdown-toggle {
      background-color: #0000000F;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border: none;
      border-bottom: 2px solid $custom-onward-green;
      &:after {
        right: 19px;
        border: none;
        border-width: 0;
        padding: 0;
        border-top: 4px solid rgba(#000, .56);
        border-right: 4px solid transparent;
        border-bottom: 0;
        border-left: 4px solid transparent;
        transform: none;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &.show {
      .dropdown-toggle {
        &:after {
          top: 42%;
          transform: rotate(-180deg) translateY(-50%);
        }
      }
    }
  }
  &.show {
    .dropdown-toggle {
      &:after {
        top: 18px;
        transform: rotate(-135deg);
      }
    }
  }
  .dropdown {
    &-toggle,
    &-item {
      cursor: pointer;
      font-family: $font-noto-sans-jp;
      font-size: 0.875rem;
      color: rgba(#000, .87);
    }
    &-toggle {
      display: inline-block;
      padding: 9px 40px 10px 12px;
      border-radius: 4px;
      background: #fff;
      border: 1px solid #8a8a8a;
      &:after {
        position: absolute;
        right: 24px;
        top: 13px;
        border: solid rgba(#000, .56);
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        transform: rotate(45deg);
      }
    }
    &-menu {
      border-radius: 4px;
      padding: 10px 0;
      border: none;
      background: #fff;
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14);
      .dropdown-item {
        padding: 8px 10px;
        &.active,
        &:active {
          background: #f8f9fa;
        }
      }
    }
  }
}