@import '@/assets/_admin-lte-custom';
@import '@/assets/_onwards';

.history-back {
  display: inline-block;
  font-size: 1.8rem;
  line-height: 1.2;
  color: $black;
  margin-right: 10px;
}

@media (min-width: 992px) {
  [class*='sidebar-collapse'] [class*='nav-link'] .text {
    margin-left: -10px;
    animation-name: fadeOut;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    visibility: hidden;
    width: 0;
    white-space: nowrap;
  }
}

[class*='sidebar-collapse'] .open {
  display: block;
}
[class*='sidebar-collapse'] .close {
  display: none;
}
