// //===== Colors =====//
$theme-color: rgb(131, 72, 242);
$body-color: #000000;
$body-color-2: #161616;
$heading-color: #1f1f25;
$border-color: #d4d4d4;
$white: #ededed;
$gray: #e5e5e5;
$black: #000;

//===== Fonts =====//
$body-font: var(--font-inter);
$heading-font: var(--font-poppins);

//===== Font sizes =====//
$body-font-size: 16px;
$h1-font-size: 60px;
$h2-font-size: 48px;
$h3-font-size: 30px;
$h4-font-size: 24px;
$h5-font-size: 20px;
$h6-font-size: 16px;

//===== Line Height =====//
$body-line-height: 1.5;

//===== Border radius =====//
$border-radius: 5px;
$button-border-radius: 5px;

//===== Transition =====//
$transition: all 0.3s ease-in-out;

//===== z-index =====//
$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;
$zindex-toast: 1080;
$zindex-offcanvas: 1090;

//===== Breakpoints =====//
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$small-mobile: 'only screen and (max-width: 479px)';

//===== Container =====//
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

//===== Spacing =====//
$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: $spacer,
  4: (
    $spacer * 1.5,
  ),
  5: (
    $spacer * 3,
  ),
);

// @import 'bootstrap/scss/functions';

// $font-size-ratio: 1.2;

// // bootstrapの変数を上書き
// $font-size-base: $font-size-ratio * 1rem;
// $primary: #00947e;
// $input-focus-border-color: $primary;

// @import 'admin-lte/build/scss/bootstrap-variables';

// $font-noto-sans-jp: "Noto Sans JP", system-ui;

// // 独自変数
// $text-size-1: $font-size-ratio * 1.5rem;
// $text-size-2: $font-size-ratio * 1.25rem;
// $text-size-3: $font-size-ratio * 1.125rem;
// $text-size-4: $font-size-ratio * 1rem;
// $text-size-5: $font-size-ratio * 0.875rem;
// $text-size-6: $font-size-ratio * 0.75rem;
// $text-size-7: $font-size-ratio * 0.6rem;

// $radius-rounded: 9999px;
// $box-shadow: 1px 1px 3px rgba($black, 0.4);
// $postural-color: #c89a6e;
// $postural-color-light: #ffefe0;
// // posturalScore.tsでも使用しているので注意
// $postural-border-blue: #2180c4;
// $postural-border-yellow: #ffcc58;
// $postural-border-red: #cb2c02;
// $diagnosis-color: #be623d;
// $diagnosis-color-dark: #985d65;
// $diagnosis-blue: rgb(243 255 253);

// // for onward
// $custom-onward-black: #2b1e1c;
// $custom-onward-green: #13605a;
// $custom-onward-danger: #b70000;
// $custom-onward-danger-light: #ff0000;
// $custom-onward-green-hover: #11554f;
// $custom-onward-danger-hover: #9f2604;
// $custom-onward-text: #000;
// $custom-onward-text-tag-gray: #757575;
// $custom-onward-tag-gray: #eff1f3;
// $custom-onward-text-title: #686868;
// $custom-onward-text-description: #2b2b2b;
// $custom-onward-btn-background: #d8d8d8;
// $custom-onward-input: #d8d8d8;
// $custom-onward-input-placeholder: #b5b5b5;

// // for onward-personal-style
// $onward-personal-style-brown-dark: #a49284;
// $onward-personal-style-brown-light: #cdc4bc;
// $onward-personal-style-brown-lightest: #f6f2f1;

// // for hankyu-hanshin
// $hankyu-hanshin-dark: #a57278;
// $hankyu-hanshin-light: #ede3e4;
// $hankyu-hanshin-gray: #f0f0f0;
// $hankyu-hanshin-gray-light: #f4f6f9;
// $hankyu-hanshin-gray-dark: #6d6d6d;
// $hankyu-hanshin-gray-light-dark: #b8b8b8;
// $hankyu-hanshin-disabled-text: #ffffff;
// $hankyu-hanshin-disabled-background: #b8b8b8;
// $hankyu-hanshin-text: #2b2b2b;