@import '@/assets/variables';
@import 'bootstrap/scss/mixins';

.imgWrap {
  width: 70px;
  margin-right: 10px;
}
.text {
  font-size: $text-size-5;
  margin-right: 25px;
  margin-bottom: 0;
}

.nickname {
  font-size: $text-size-3;
  margin-bottom: 5px;
}
@include media-breakpoint-up(sm) {
  .info {
    display: flex;
  }
}
